{% extends "base.html" %}

{% block content %}
<div class="title">{{ name }}'s Plannner</div>

<hr>

<!-- <h3 class="title is-5">Time Frame</h3> -->
<!-- <form id="datePicker" action="/pick_timeframe">
	Start Date:
	<input type="date" id="start_date" name="timeframe_start" value="{{ earliest }}" required>
	End Date:
	<input type="date" id="end_date" name="timeframe_end" value="{{ latest }}" required>
</form> -->

<form id="datePicker" action="/pick_timeframe" class="date-picker">
    <div class="date-input">
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="timeframe_start" value="{{ earliest }}" required>
    </div>
    <div class="date-input">
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="timeframe_end" value="{{ latest }}" required>
    </div>
</form>

<div id="planner">
	
	<div style="display: flex; width:auto;">
		<div class="project-column">
			<div class="day-cell" style="width: auto; font-weight: 1000;">Year</div>
			<div class="day-cell" style="width: auto;background-color: #373737; font-weight: 1000;">Month</div>
			<div class="day-cell" style="width: auto; font-weight: 1000;">Day</div>
			{% for project in projects %}
				<div class="project-row" style="height: {{ task_info[project.id].task_types|length * 25 }}px; color: {{ project.color }}; border-color: {{ project.color }}">
					{{ project.title }}
				</div>
			{% endfor %}
		</div>
		<div class="planner-grid">
			<div class="row" id="yearRow">
				{% for year in year_days_count %}
				<div class=day-cell style="width:{{ year_days_count[year] * 25}}px; font-weight: 1000;">{{ year }}</div>
				{% endfor %}
			</div>
			<div class="row" id="monthRow">
				{% for year in calendar %}
				{% for month in calendar[year] %}
				<div class=day-cell style="width:{{calendar[year][month]|length * 25}}px; background-color: #373737; font-weight: 1000;">{{ month }}</div>
				{% endfor %}
				{% endfor %}
			</div>
			<div class="row" id="dayRow">
				{% for date in timeframe %}
				<div class="day-cell">{{ date.day }}</div>
				{% endfor %}
			</div>

			{% for project in project_dict %}
				<div style="height: 1px; width: auto; background-color: {{ project.color }};"></div>
				{% for task_type in project_dict[project] %}
				<div class="row" id="dayRow">
					{% for task in project_dict[project][task_type] %}
					<div class="task-cell" style="width:{{25 * task['day_count']}}px; {{ 'text-decoration: line-through; text-decoration-thickness: 2px;' if task.completed else '' }} background-color:{{task.color}};"> {{ task.title }} </div>
					{% endfor %}
				</div>
				{% endfor %}
				<div style="height: 1px; width: auto; background-color: {{ project.color }};"></div>
			{% endfor %}
		</div>
	</div>
</div>

<div class="donations">
	<a href="https://www.buymeacoffee.com/TeoPerona" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/arial-yellow.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;" ></a>
</div>


{% endblock %}
