{% extends "base.html" %}

{% import 'macros/form_macros.html' as forms %}
{% import 'macros/icon_macros.html' as icons %}

{% block content %}
<h1 class="title">Welcome, {{ name }}!</h1>

<hr>

{% include 'includes/flash_messages.html' %}

<div id="projectsList">
    {% for project in projects %}
    <div class="project">
        {% include 'includes/project_header.html' %}
        <div class="project-tasks">
            {% for task in tasks[project.id] %}
            {% include 'includes/task_item.html' %}
            {% endfor %}
            {% include 'includes/add_task_form.html' %}
        </div>
    </div>
    {% endfor %}

    {% include 'includes/add_project_form.html' %}
</div>

<script src="{{ url_for('static', filename='js/profile.js') }}"></script>

{% endblock %}